/* Page has 2 main divs: one on top for the intro, one under for the image and its text, as well as the buttons
    The top content will always be a vertical flexbox with the page title and the small blurb.
    The bottom content will have one box for the image, then another with 3 boxes in it for the title, description and buttons.
    When media width is sub 1k, the bottom flexbox will display these boxes in a column. 
    When sub 1k, they will be displayed in a row. */
body {
    font-family: "Encode Sans", sans-serif;
    background-color: #f5f5f9;
    text-align: left;
}

.wrapper {
    display: flex;
    flex-direction: row;
    gap: .5vw;
    justify-content: left;
    width: 100%;
    height: 100%;
}

.wrapper.col {
    flex-direction: column;
}

.box {
    display: flex;
    padding: 1.4rem 1.4rem 0rem 1.4rem;
}

.box p {
    font-size: 1.2rem;
}

.box img {
    flex-grow: 1;
    object-fit: contain;
    max-height: 90vh;
    max-width: 90vw;
}

h1 {
    font-family: "Encode Sans", sans-serif;
    color: #535353;
    font-size: 3rem;
    margin: 0;
}

h2 {
    font-family: "Encode Sans", sans-serif;
    font-size: 2rem;
}

p {
    margin: 0;
}

.main-content h2 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.main-content p {
    flex-basis: 70%;
    line-height: 2rem;
}

.main-content .image {
    flex: 0 0 50%
}

.main-content .wrapper {
    flex: 0 0 50%;
}

.button {
    font-family: "Encode Sans", sans-serif;
    padding: 15px 30px;
    margin: 0 10px 0 0;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #32006e;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #ccc;
    transform: scale(1.1);
}

/* slight changes for mobile view */
@media only screen and (max-width: 600px) {
    /* currently all changes that apply to tablets work for small displays */
}

/* changes for tablets or small desktops */
@media only screen and (max-width: 1000px) {
    h1 {
        font-size: 2.5rem;
    }

    .wrapper {
        flex-direction: column;
        gap: .5vw;
    }

    .box {
        padding: 1.2rem 1.4rem 0rem 0.8rem;
    }

    .box p {
        flex-basis: 90%;
        margin: 0;
        font-size: .85rem;
        line-height: 1.4rem;
    }

    .box h1 {
        font-size: 1.8rem;
        flex-basis: 90%;
    }
}